.cancelBtn, .createBtn{
    padding: 10px 25px;
    border-radius: 5px;
    cursor: pointer;
    font: Roboto;
    font-size: 14px;
    width: fit-content;
    color:rgba(96, 84, 84, 0.68);
    margin: 20px 0;

}
.createBtn{
    color: white;
    background: rgba(232, 93, 0, 0.8);
    border: 1px solid transparent;
    margin-left: auto!important;
}
.cancelBtn{
    border: 1px solid #C4C4C4;
    background: #F5F4F4;
    margin-right: auto;
}
.submitBtn{
    background: #57A35A;
    color: white;
    width: 100%;
    padding: 10px 16px;
    font-size: 15px;
    border: 1px solid #E5E5E5;
}