@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:wght@400;700&display=swap');
*{
    margin: 0;
    box-sizing: border-box;
    padding: 0;
    text-decoration: none;
    list-style-type: none;
    outline: none;
    
}
.main{
    display: flex;
}
.main nav{
    /* height: 902px; */
    position: fixed;
    height: 100vh;
    width: 198px;
    left: 0px;
    top: 0px;
    border-radius: 0px;
    background: rgba( 232,93,0,1);
    font-style: normal;
    font-weight: 400;
    line-height: 19px;
    letter-spacing: 0em;
    text-align: left;
    overflow-y: auto;
    z-index: 99;
}
.burger, .cancel{
    display: none;
}
.main .logo{
    display: flex;
    align-items: center;
    position: relative;
}

nav .logo img:nth-child(1){
    padding: 20px;
}
nav .logo:after{
    content: '';
    border: 0.05px solid white;
    width: 120px;
    position: absolute;
    bottom: 0;
}
.home-section img{
    width: 20px;
    margin-right: 10px;
}
.home-section a{
    font-family: Roboto, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;

    font-size: 14px;
    display: block;
    padding: 10px 20px;
    color: white;
    display: flex;
    align-items: flex-end;
}
.home-section{
    margin-top: 2rem;
}
.merchants h1, .riders h1{
    margin-left: 20px;
    color: white;
    font-weight: 200;
    font-family: 'Noto Sans', sans-serif;
    margin-bottom: 10px;
    font-size: 18px;
}
.riders{
    padding-bottom: 5rem;
}
.settings{
    padding-bottom: 3rem;
    position: relative;
}
.settings::after{
    content: '';
    position: absolute;
    right: 0;
    width: 120px;
    border: 1px solid white;
    top: -1rem;
}
 .options::after{
    content: '';
    position: absolute;
    border: 0.05px solid lightgrey;
    width: 100% ;
    right: 0;
}
.options .wrap{
    display: flex;
    align-items: flex-end;
    justify-content: flex-end;
    cursor: pointer;
    /* border-bottom: 0.5px solid lightgrey;
    padding-bottom: 10px; */
}

.main-body{
    flex-basis: 100%;
    /* padding: 20px; */
    /* position: relative; */
}
.search-section{
    padding-top: 10px;
    margin-left: 20px;
}
.search-section label input, .search-section label select{
    padding: 5px 10px;
    border-radius:5px;
    border: 0.5px solid lightgrey;
}
.search-section label select{
    background: rgba(0,0,0,0.05);
}
.search-section label input{
    width: 304px;
}
.other-section{
    background: #E5E5E5;
}
.box .amount p{
    font-family: "Noto sans";
    font-size: 20px!important;
    margin: 10px 0;
}
.box .amount span{
    display: block;
    color: black;
    margin-top: 10px;
    font-size: 14px!important;

}
.box div{
    border: 3px solid #43ACD9;
    /* background: linear-gradient(270deg, rgba(67, 172, 217, 0) 0%, #43ACD9 0%); */
    margin-top: 10px;
    border-radius: 5px;

}
.box{
    background: white;
    padding: 20px;
    box-shadow: 0px 4px 4px 0px rgba(0,0,0,0.25);
    border-radius: 20px;
    flex-basis: 24%;
    font-family: "Noto sans";
}
.box:nth-child(1) p{
    color: #43ACD9;
}
.box:nth-child(2) p{
    color: rgba(255,85,48,1);

}
.box:nth-child(3) p{
    color: #2B6638;
}
.box:nth-child(4) p{
    color: #CE1036;

}
.box:nth-child(1) div{
    border-color: #43ACD9;

}
.box:nth-child(2) div{
    border-color: rgba(255,85,48,1);

}
.box:nth-child(3) div{
    border-color: #2B6638;

}
.box:nth-child(4) div{
    border-color: #CE1036;

}
.box-container{
    display: flex;
    /* max-width: 600px; */
    margin: auto;
    justify-content: space-between;
    /* padding: 20px; */
}
.container{
    padding: 20px;
    margin-left: auto;
    max-width: 84vw;
    position: relative;
}
.orders-section{
    padding: 20px;
    background: white;
    margin: 20px 0;
    border-radius: 20px;
    font-family: "Noto sans";
}
.orders-section h1{
    /* padding: 20px; */
    font-size: 18px;
    color: #070C39;
    border-bottom: 1px solid lightgrey;
    padding: 10px 0;

}
table{
    font-family: "Noto sans";
    color :#4E4E4E;
    font-size: 14px;
    width: 100%;
    border-spacing: 15px;
    text-align: left;
}

th{
    font-weight: 500;
    padding-bottom: 10px;
}
td{
    font-size: 14px;
}
.orders-section .ongoing-orders table td:nth-child(7){
    background: #57A35A;
    color: white;
    border-radius: 10px;
    padding:2px 10px;
}
.pending-orders{
    margin: 1rem 0;
}
.pending-orders table{
    width: 90%;
}
.pending-orders h1{
    color: #FF4B23!important;
}

.item-option{
    border-radius: 10px;
    /* padding: 10px */
    box-shadow:  0px 4px 4px 0px lightgrey;
    position: absolute;
    /* z-index: 99; */
    background: white;
    right: 5%;
    margin-top: 6%;
}
.item-option li{
    display: flex;
    align-items: center;
    justify-content: space-around;
    font-size: 14px;
    padding: 10px 20px;
    transition: 0.3s;
    cursor: pointer;
}
.item-option li img{
    padding-left: 10px;
}
.item-option li:hover{
    background: lightgrey;
}
.pending-orders .item-option{
    right: 15%;
}
.item-option li:nth-child(2){
    color: red;
}
@media (max-width: 1030px){
    .container{
        max-width: 80vw;
        
    }
    .orders-section table td{
        font-size: 11px;
        padding-left: 2px!important;
        padding-right: 2px!important;
    }
}

/* ipad */
@media (max-width: 770px){
    .container{
        max-width: 99vw;
        margin: auto;
    }
    nav{
        z-index: 99;
        left: -200px!important;
        transition: 0.3s;
    }
    .burger{
        display: block;
        margin-right: auto;
        cursor: pointer;
        order: -1;
    }
    .burger div{
        border: 2px solid black;
        width: 25px;
        margin: 4px;
        border-radius: 3px;
    }
    .animate-nav{
        left: 0!important;
        transition: 0.3s;
    }
    .animate-nav::after{
        content: '';
        position: fixed;
        width: 100vw;
        left: 0;
        height: 100vh;
        top: 0;
        background: rgba( 232,93,0,0.1);
        transition: 0.3s;
        z-index: -2;
        
    }
    .cancel{
        display: block;
        padding: 2px;
        /* background-color: white; */
        border-radius: 5px;
        position: fixed;
        font-size: 35px;
        right: -50px;
        color: #FF4B23!important;
        font-weight: 800;
        transform: rotateZ(45deg);
        padding: 20px;
        transition: 0.3s;
        /* pointer-events: none; */
    }
    .show-cancel{
        right: 0;
    }
    .cancel:hover{
        transform: rotateZ(-45deg);
    }
}

@media (max-width: 556px){
    body{
        overflow-x: hidden!important;
    }
    .box{
        margin: 1rem auto;
        max-width: 80vw;
        
    }
    .box-container{
        display: block;
    }
    .ongoing-orders, .pending-orders{
        overflow-x: scroll;
        /* display: none; */
    }
    
    .container{
        width: 100vw;
        padding: 5px;
    }
    .options:after{
        display: none;
    }
    .search-section{
        margin: auto;
    }
    .search-section form{
        margin: auto;
        width: 100%;
        display: flex;
        justify-content: space-around;
    }
    .search-section input{
        width: 100%!important;
    }
    .search-section select{
        padding: 3px 8px;
        width: 100%;
    }
    .search-section label:nth-child(2){
        flex-basis: 70%;
    }
    .search-section label:nth-child(1){
        flex-basis: 25%;
    }

}
.profile-section ul{
    padding: 0;
    display: flex;
}
.profile-section ul li{
    padding: 0 20px;
    font-family: Roboto;
    font-size: 14px;
    /* cursor: pointer; */
    font-weight: 700;
}
.profile-section .active{
    position: relative;
}
.profile-section .active a{
    color: #E85D00;
}
.profile-section .active::after{
    content: '';
    position: absolute;
    width: 100%;
    border: 1px solid #E85D00;
    left: 0;
    bottom: -20px;
}
.profile-section ul li a{
    color: initial;
}
.profile-detail-content{
    background: white;
    width: 80%;
    margin: auto;
    padding: 15px;
}
.profile-detail-content .manage-options{
    width: 100%;
    display: flex;
    justify-content: flex-end;
}

.profile-detail-content .manage-options div{
    margin-left: 20px;
    padding: 10px 12px;
    border: 1px solid #E85D00;
    border-radius: 5px;
}
.profile-detail-content a{
    color: initial;
    display: flex;
    align-items: center;
    justify-content: space-around;
    font-size: 13px;
    min-width: 130px;
    text-align: center;
    color: #E85D00;
}
.profile-detail-content .manage-options div:nth-child(2){
    background: #E85D00;
}
.profile-detail-content .manage-options div:nth-child(2) a{
    color: white;
}
.profile-detail-content table{
    margin: 20px 0;
    color: rgba(96, 84, 84, 0.76);
    font-size: 14px;
    border-collapse: collapse;
    width: 100%;
    /* border-spacing: 15px!important; */

}
.profile-detail-content table th{
    border-bottom: 1px solid #E5E5E5;
    font-size: 14px;
    font-weight: 700;
    padding: 20px 5px;
}
.profile-detail-content table td{
    padding: 20px 5px;
    border-bottom:1px solid #E5E5E5;
    font-size: 14px;
    font-weight: 400;
}
.profile-detail-content table tr{
}
@media (max-width:560px){
    .profile-detail-content .table{
        overflow-x: scroll!important;
    }
    .profile-detail-content{
        width: 100%;
    }
    .profile-detail-content .manage-options{
        justify-content: space-between;
    }
     .profile-section{
        padding-top: 30px!important;
    }
    .profile-detail-content .manage-options div{
        min-width: 0;
        padding: 10px 2px;
        margin: 0;
        flex-basis: 48.5%!important;
        justify-content: center;
    }
}
.profile-detail-content form{
    max-width: 800px;
    padding: 10px;
}
.profile-detail-content h1{
    font-size: 14px;
    color: rgba(96, 84, 84, 0.68);
    text-align: center;
    margin: 30px;
}
.profile-detail-content form label{
    display: flex;
    align-items: center;
    margin: 10px;

    /* justify-content: space-between; */
}
.profile-detail-content form label input{
    width: 300px;
    margin-left: 20px;
    padding: 10px 16px;
    border: 1px solid #DADADA;
}
.profile-detail-content form label p, .profile-detail-content form label span{
    width: 64px;
    font-size: 14px;
    color: rgba(96, 84, 84, 0.68);
    margin-left: 20px;
}
.profile-detail-content form label span{
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: #F5F4F4;
    padding: 10px 16px;
}
.profile-detail-content form [for="number"] span{
    width: unset;
}
.profile-detail-content form [for="number"] img{
    margin-right: 5px;
}
.profile-detail-content form [for="number"] input{
    margin-left: 0;
    width: 215px;
}
.profile-detail-content form a, .profile-detail-content form button{
    display: block;
    padding: 10px 20px;
    font-family: Roboto;
    font-size: 14px;
    background: #F5F4F4;
    color: rgba(96, 84, 84, 0.68);
    margin-left: 20px;
    border-radius: 8px;
    border: 1px solid transparent;
}
.profile-detail-content form button{
    margin-top: 60px;
    margin-left: auto;
    cursor: pointer;
}
@media (max-width: 560px){
    .profile-detail-content form input{
        margin-left: 0!important;
    }
    .profile-detail-content form label{
        display: block;
        margin-bottom: 20px;
    }
    .profile-detail-content form label p{
        margin-bottom: 10px;
        margin-left: 0!important;
    }
    .profile-detail-content form [for="number"]{
        /* width: fit-content; */
        display: flex;
        align-items: center;
        /* margin-left: 0; */
        display:flex;
        flex-wrap: wrap;
    }
    .profile-detail-content form [for="number"] p{
        width: 100%;
        /* margin-left: 10px!important; */
    }
    .profile-detail-content form [for="number"] span{
        /* margin-left: 10px!important; */
        margin-left: 0;
    }
    .profile-detail-content form [for="number"] input{
        max-width:230px;
    }
    .profile-detail-content form a{
        margin-left: 0;
        width: 230px;
    }
    
}
@media (max-width:350px){
    .profile-detail-content form input{
        width: 100%!important;
    }
    .profile-detail-content form [for="number"] input{
        max-width: 150px;
    }
}
.add-user-content{
    font-family: Roboto;
    width: 100vw;
    background: rgba( 232,93,0,0.44);
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    /* z-index: ; */
    display: flex;
    align-items: center;
    justify-content: center;
    transition: opacity 0.3s;
}
.add-user-content .wrap{
    background: white;
    width: 430px;
    border-radius: 10px;
}
.add-user-content .wrap h1{
    padding: 20px 10px;
    font-size: 16px;
    text-align: center;
    border-bottom: 1px solid #E5E5E5;
}
.add-user-content form{
    padding: 20px;
    font-size: 14px;
    position: relative;
}
.add-user-content form label{
    display: flex;
    justify-content: stretch;
    align-items: center;
    margin: 15px 0;
    color: rgba(96, 84, 84, 0.76);
}
.add-user-content form label p, .add-user-content form [for="role"] p{
    flex-basis: 120px!important;
    margin-right: 10px;
}
.add-user-content form input, .add-user-content form select{
    border: 1px solid #E5E5E5;
    padding: 10px 18px;
    flex-basis: 80%;
}
.add-user-content form input::placeholder{
    font-size: 14px;
    font-weight: 400;
    color: #E5E5E5;
}
.add-user-content form button, .options-modified form button{
    border-radius: 5px;
    background: #F5F4F4;
    padding: 10px 30px;
    min-width: 105.5px;
    display: flex;
    justify-content: space-around;
    border: 1px solid transparent;
    color: rgba(96, 84, 84, 0.76);
    cursor: pointer;
    /* color: ; */
}
.add-user-content form .buttons, .options-modified form .buttons{
    display: flex;
    justify-content: space-between;
    margin: 80px 0 40px 0;
}
.add-user-content form button:nth-child(2), .options-modified form button:nth-child(2){
    background: #E85D00;
    color: white;
}
.add-user-content form::after{
    content: '';
    position: absolute;
    bottom: 140px;
    width: 99.6%;
    border: .05pt solid #F5F4F4;
    left: 0;
}
.main-body .hide{
    opacity: 0;
    pointer-events: none;
}
.add-user-btn{
    cursor: pointer;
}
.roles-content{
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    background: white;
    font-family: Roboto;
    /* max-width: 80%; */
}
.roles-content h1{
    font-size: 16px;
    padding: 20px 20px 0 30px;
}
.default-roles{
    flex-basis: 25%;
    font-size: 16px;
    color: rgba(96, 84, 84, 0.76);
}
.default-roles ul{
    padding: 0;
    margin: 10px 0;
}
.default-roles ul li{
    padding: 20px 30px;
    border-bottom: 1px solid #F5F4F4;
    cursor: pointer;
    transition: 0.3s;
}
.default-roles ul li:hover{
    background: rgba(10, 164, 230, 0.29);
}
.custom-role{
    padding: 20px 30px;
}
.custom-role h4{
    font-size: 15px;
}
.custom-role p{
    font-size: 13px;
    font-weight: 400;
    padding: 10px 0;
    color: #C4C4C4;
}
.custom-role span{
    display: block;
    color: #57A35A;
    padding: 10px 0;
    font-size: 13px;
    cursor: pointer;
}
.abilities{
    display: flex;
    flex-basis: 75%;
    align-items: flex-start;
    justify-content: space-between;
    flex-wrap: wrap;
    font-size: 16px;
    color: rgba(96, 84, 84, 0.76);
    padding: 40px;

}
.abilities h1{
    flex-basis: 100%;
    padding: 0;
    margin: 20px 0;
}
.abilities div{
    padding: 0;
    flex-basis: 48%;
    border-radius: 5px;
    background: white;
    border: 1px solid rgba(87, 163, 90, 0.53);
    min-height: 200px;

}
.abilities ul{
    padding: 24px;
}
.abilities h4{
    padding: 14px;
    background: rgba(87, 163, 90, 0.53);
}
.abilities ul li span{
    font-weight: 700;
    font-size: 16px;
}
.abilities ul li{
    font-size: 14px;
    font-weight: 400;
    padding: 14px 5px;
    border-bottom: 1px solid #DADADA;
}
.full-access{
    border: 1px solid transparent;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    border-color: transparent!important;
    border-radius: 0;
}
.abilities .no-access{
    border-color: rgba(216, 59, 41, 0.41);
}
.abilities .no-access h4{
    background: rgba(216, 59, 41, 0.41);
}
@media (max-width: 560px){
    .roles-content{
        flex-wrap: wrap;
    }
    .default-roles{
        flex-basis: 100%;
    }
    .abilities{
        flex-basis: 100%;
        padding: 30px;
    }
    .abilities div{
        flex-basis: 100%!important;
        margin-bottom: 20px;
    }
}
.not-selected{
    display: none!important;
}
.default-roles .selected-opt{
    background: rgba(10, 164, 230, 0.29);
}
.add-custom-role form label p{
    flex-basis: 100%;
    margin: 10px 0;
}
.add-custom-role form label{
    flex-wrap: wrap;
}
.add-custom-role form ul{
    flex-basis: 100%;
}
.add-custom-role form ul li{
    padding: 15px 10px;
    border-bottom:1px solid rgba(218, 218, 218, 0.37);
}
.add-custom-role form label [type="checkbox"]{
    margin-right: 10px;
    cursor: pointer;
}
.add-custom-role form textarea, .add-custom-role form label [type="text"]{
    border: 1px solid rgba(218, 218, 218, 0.37);
    min-width: 100%;
}
.add-custom-role .wrap{
    width: 350px;
    overflow-y: scroll!important;
    max-height: 98vh;
}
.add-custom-role h1{
    color: rgba(96, 84, 84, 0.76);
}
.transactions{
    background: white;
    padding: 10px 20px;

}
.transactions table{
    width: 100%;
    color: rgba(96, 84, 84, 0.68);
    font-size: 14px;
    font-family: Roboto;
    border-collapse: collapse;
    background: white;
}
.transactions table th{
    font-weight: 700;
    border-bottom:1px solid #E5E5E5;
    padding: 15px 0;
}
.transactions table td{
    border-bottom:1px solid #E5E5E5;
    padding: 15px 0;
}
.transactions table span{
    border: 7px solid rgba(96, 84, 84, 0.68);
    display: inline-block;
    border-radius: 50%;
    margin-right: 5px;
    position: relative;
    bottom: -2px;
}
.transactions table .paid{
    color: #57A35A;
}
.transactions table .pending{
    color: #FF6C32;
}
.transactions table .cancelled{
    color: #D83B29;
}
@media (max-width: 560px){
    .transactions{
        overflow-x: scroll;
    }
    .transactions table td{
        min-width: 100px;
    }
}
.transactions-search{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.export-table button{
    color: #E85D00;
    border: 1px solid #E85D00;
    border-radius: 5px;
    font-size: 14px;
    padding: 10px 25px;
    background: white;
    cursor: pointer;
    font-weight: 700;
}
@media (max-width:560px){
    .export-table button{
        padding: 5px 15px;
        margin-right: 10px;
    }
}
.search-section select optgroup, .search-section select option{
    display: none;
}
.options-modified{
    min-width: 200px;
    min-height: 200px;
    max-width: 300px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    background: #F5F4F4;
    border: 1px solid #E5E5E5;
    position: absolute;
    z-index: 98;
    left: 0;
    margin-top: 20px;
    top: 90px;
    font-size: 14px;
    color: rgba(96, 84, 84, 0.76);
    font-family: Roboto;
    padding: 20px;
    transition: 0.2s;
}
.options-modified::before{
    content: '';
    position: absolute;
    border: 15px solid transparent;
    top: 0;
    left: 60px;
    margin-top: -30px;
    border-bottom: 15px solid #F5F4F4;
    
}
.options-modified form label{
    margin: 15px 0px;
    display: block;
}
.options-modified form label p{
    margin: 5px 0;
    font-weight: 700;
}
.options-modified form label select{
    width: 100%;
    color: inherit;
}
.options-modified form label input{
    width: 100%;
}
.options-modified form [for="custom period"]{
    display: flex;
    align-items: center;
    flex-wrap: wrap;
}
.options-modified form [for="custom period"] input{
    width: 50%;
}
.options-modified form [for="custom period"] p{
    width: 100%;
}
.options-modified form label select option{
    color: rgba(96, 84, 84, 0.76);
    font-size: 14px;
    font-weight: 400;
    display: block;
    
}
.options-modified form button:nth-child(1){
    border: 1px solid rgba(96, 84, 84, 0.68);
}
.options-modified form .buttons{
    margin-top: 30px;
}
@media (max-width: 560px){
    .options-modified form{
        display: block;
    }
    .options-modified::before{
        left: 30px;
    }
    .options-modified form [for="custom period"] input{
        flex-basis: 50%;
    }
    .options-modified{
    margin-top: 0;

    }
}
th{
    font-weight: 700;
}
.products table tr td:nth-child(1){
    display: flex;
    align-items: center;
    min-width:250px;
}
.products table tr td:nth-child(1) img{
    width: 73px;
    margin-right: 0px;
}
.products table tr td span{
    border-color: #57A35A;
}
.products table{
    font-size: 14px;
    /* border-spacing: 10px!important; */
}
.products table tr td:nth-last-child(1){
    cursor: pointer;
    font-size: 20px;
}
.products table tr td{
    padding: 5px inherit;
    padding-right: 10px;
    /* min-width: 100px; */
    border-bottom-color: transparent;
    position: relative;
}
.products .product-options{
    border: 1px solid #C4C4C4;
    width: 116px;
    background: white;
    position: absolute;
    right: 0;
    top: calc(50% - 37px);
    border-radius: 5px;
    font-size: 14px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}
.products .product-options div{
    padding: 10px;
    transition: background 0.3s;
}
.product-options div:hover{
    background:rgba(10, 164, 230, 0.29)
}
.products .product-options div:nth-child(2){
    color: #CE1036;
}
.new-product .wrap{
    width: 400px;
    
}
.new-product .wrap h1{
    text-align: left;
}
.new-product form label input{
    flex-basis: 60%!important;
    color: inherit;
    min-width: 0!important;
    border-radius: 3px;
}
.new-product form label select{
    flex-basis: 38%!important;
    border-radius: 3px;
    color: inherit;
    background: #F5F4F4;
}
.new-product form label p{
    flex-basis: 100%!important;
}
.new-product form label{
    justify-content: space-between;
}
.new-product form label:nth-child(1) input{
    flex-basis: 100%!important;
}
.products a{
    color: inherit;
    display: flex;
    align-items: center;
}
.options .product-id{
    margin-right: auto;
    margin-bottom: 5px;
    font-size: 16px;
    font-family: Roboto;
    color: #605454;
}
.product-name p{
    font-size: 16px;
    font-family: Roboto;
    width: fit-content;
    color: #605454;
    /* margin-left: -20px; */
}
.product-name{
    margin-left: 0;
}
.carousel_description .carousel img{
    width: 250px;
    height: 100%;
}
.carousel_description{
    display: flex;
    align-items: stretch;
    justify-content: space-between;
    background: white;
    font-family: Roboto;
}
.carousel_description .carousel{
    flex-basis: 45%;
    border: 1px solid #E5E5E5;
    /* padding: 15px; */
    display: flex;
    align-items: center;
    overflow-x: hidden;
    position: relative;
}
.carousel_description .description{
    flex-basis: 55%;
    padding: 15px;
    border: 1px solid #E5E5E5;
}
.carousel_description .carousel div{
    min-width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: 0.3s;
    overflow-x: hidden!important;
}
.carousel_description .carousel span{
    padding: 2%;
    position: absolute;
    display: block;
    cursor: pointer;
    z-index: 99;
    max-width: 200px!important;
}
.carousel_description .carousel .left{
    left: 0;
    color: green;
}
.carousel_description .carousel .right{
    right: 0;
}
.carousel_description .carousel span img{
    width: 100%!important;
}
.carousel_description .carousel .circles{
    display: flex;
    position: absolute;
    bottom: 0;
    padding: 10px;
    align-items: center;
    justify-content: center;

}
.carousel_description .carousel .circles .dot{
    border: 7px solid #DADADA;
    border-radius: 50%;
    min-width: 0;
    margin: 0 2px;
}
.carousel_description h1{
    color: #605454;
    font-size: 16px;
    font-weight: 500;
}
.carousel_description .description textarea{
    border: 1px solid transparent;
    padding-top: 10px;
    font-size: 14px;
    font-family: inherit;
    font-weight: normal;
    width: 100%;
}
.carousel_description textarea::placeholder{
    opacity: 0.8;
}
.carousel_description .description form button, .overview form button{
    padding: 10px 15px;
    color: white;
    font-size: 14px;
    font-weight: normal;
    font-family: Roboto;
    background: #57A35A;
    border-radius: 5px;
    border: 1px solid transparent;
    cursor: pointer;
}
.carousel_description .description p{
    margin: 10px 0;
    font-size: 14px;
    color: rgba(96, 84, 84, 0.68);
} 
.overview{
    background: white;
    padding: 20px;
    margin-top: 20px;
    font-family: Roboto;
}
.overview h1{
    font-size: 16px;
    color:#605454;
    margin-bottom: 20px;
}
.overview select{
    background: #F5F4F4;
    border: 1px solid #F5F4F4;
    font-size: 14px;
    padding: 10px 12px;
    flex-basis: 100px;
}
.overview form label{
    display: flex;
    align-items: center;
    margin: 5px 0;
    color: rgba(96, 84, 84, 0.68);
}
.overview form input{
    border: 1px solid #F5F4F4;
    font-size: 14px;
    padding: 10px 12px;
    /* width: 100%; */
    flex-basis: calc(100% - 100px);
}
.overview form label p{
    flex-basis: 100px;
}
.overview form label:nth-child(2) input{
    flex-basis: calc(100% - 200px);
}
.overview form {
    max-width: 400px;
}
.overview form .rect{
    background: #C4C4C4;
    border-radius: 20px;
    padding: 4px;
    width: 35px;
    display: flex;
    align-items: center;
    cursor: pointer;
    border: 1px solid transparent;
    transition: 0.3s;
}
.overview form .circle{
    border: 5px solid white;
    border-radius: 50%;
    transition: 0.3s;
}
.overview form .on{
    background: #57A35A;
    justify-content: flex-end;
}
.overview form button{
    margin: 20px 0;
}
@media (max-width: 560px){
    .carousel_description{
        flex-wrap: wrap;
    }
    .carousel_description .carousel{
        flex-basis: 100%;
    }
    .carousel_description .description{
        flex-basis: 100%;
    }
    .overview form label{
        flex-wrap: wrap;
    }
    .overview form label p{
        flex-basis: 100%;
        margin: 10px 0;
    }
    .overview form input{
        flex-basis: 100%;
    }
    .overview form label select{
        flex-basis: 70px;
    }
    .overview form label:nth-child(2) input{
        flex-basis: calc( 100% - 70px)!important;
    }
}
.quick-dispatch form select{ 
    flex-basis: 100%;
    color: inherit;
}
.quick-dispatch form input{
    flex-basis: 100%;
}
.quick-dispatch form button{
    margin-left: auto;
    display: block;
    padding: 10px 30px;
}
.quick-dispatch form{
    /* padding: 20px; */
}
.quick-dispatch {
    max-width: 500px;
    border-radius: 10px;
}
.quick-dispatch form label{
    padding: 10px 20px;
}
@media (max-width: 560px){
    .quick-dispatch form label select{
        flex-basis: 100%;
    }
}